!==============================
!      	  Color Scheme
!==============================

*.background:  #1a2332
*.foreground:  #a4b1cd
*.cursorColor: #313f55

*.color0:  #000000
*.color8:  #666666
*.color1:  #ff3e3e
*.color9:  #ff8484
*.color2:  #9fef00
*.color10: #c5f467
*.color3:  #ffaf00
*.color11: #ffcc5c
*.color4:  #004cff
*.color12: #5cb2ff
*.color5:  #9f00ff
*.color13: #c16cfa
*.color6:  #2ee7b6
*.color14: #5cecc6
*.color7:  #ffffff
*.color15: #ffffff

!==============================
!	 URxvt Settings
!==============================

URxvt.background: [85]#111927
URxvt.depth: 32
URxvt.font: xft:JetBrainsMono Nerd Font:size=14
URxvt*scrollBar: false
URxvt.perl-ext-common: default,xkr-clipboard,selection-to-clipboard,-searchable-scrollback
URxvt.iso14755: false
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
